# ----------------------
# Server
# ----------------------
#flask
django


# ----------------------
# Testing
# ----------------------
mock
django-debug-toolbar


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn


# ----------------------
# Database
# ----------------------
psycopg2
south

# ----------------------
# Templates
# ----------------------
django-crispy-forms
